<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.resources.natures"
         id="dartNature"
         name="Dart">
      <runtime>
         <run class="org.dartlang.tools.builder.DartNature"/>
      </runtime>
   </extension>

   <extension point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/dart-nature.png"
            id="org.dartlang.tools.projectNatureImage"
            natureId="org.dartlang.tools.dartNature">
      </image>
   </extension>
  
   <extension point="org.eclipse.core.resources.builders"
         id="dartBuilder"
         name="Dart Builder">
      <builder>
         <run class="org.dartlang.tools.builder.DartBuilder"/>
      </builder>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dartlang.tools.perspective.DartPerspectiveFactory"
            icon="icons/dart-16.png"
            id="org.dartlang.tools.dartPerspective"
            name="Dart">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.dartlang.tools.preferences.DartPreferencePage"
            id="org.dartlang.tools.preferences.DartPreferencePage"
            name="Dart">
      </page>
   </extension>
   
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.dartlang.tools.dartSourceFile"
            name="Dart source file"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="dart"
            default-charset="UTF-8"/>
      <!-- content-type
            id="org.dartlang.tools.pubspecFile"
            name="Pubspec file"
            base-type="org.eclipse.core.runtime.text"
            file-names="pubspec.yaml"
            default-charset="UTF-8"
            priority="low" / -->
   </extension>

   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes extension="dart" type="text"/>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            name="Dart"
            id="org.dartlang.tools.dart">
      </category>
      <wizard
            category="org.dartlang.tools.dart"
            class="org.dartlang.tools.wizards.NewProjectWizard"
            finalPerspective="org.dartlang.tools.dartPerspective"
            icon="icons/wizards/newprj.gif"
            id="org.dartlang.tools.wizards.new.project"
            name="Dart Project"
            project="true">
         <description>
            Create a new Dart project
         </description>
      </wizard>
      <wizard
            category="org.dartlang.tools.dart"
            class="org.dartlang.tools.wizards.ImportProjectWizard"
            finalPerspective="org.dartlang.tools.dartPerspective"
            icon="icons/wizards/newprj.gif"
            id="org.dartlang.tools.wizards.new.projectExisting"
            name="Import Dart Project"
            project="true">
         <description>
            Create a new Dart project from an existing folder
         </description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.dartlang.tools.wizards.import"
            name="Dart">
      </category>
      <wizard
            category="org.dartlang.tools.wizards.import"
            class="org.dartlang.tools.wizards.ImportProjectWizard"
            icon="icons/wizards/newprj.gif"
            id="org.dartlang.tools.import.project"
            name="Import Dart Project">
         <description>
            Create a new Dart project from an existing folder
         </description>
      </wizard>
   </extension>

   <!-- menu contributions -->
   
   <extension point="org.eclipse.ui.commands">
      <command id="org.dartlang.tools.pub.get" name="Pub Get" description="Run pub get"></command>
      <command id="org.dartlang.tools.pub.upgrade" name="Pub Upgrade" description="Run pub upgrade"></command>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.dartlang.tools.tools.PubRunCommandHandler"
            commandId="org.dartlang.tools.pub.get">
         <enabledWhen>
            <with variable="selection">
               <count value="1"></count>
               <iterate ifEmpty="false" operator="or">
                  <or>
                     <and>
                        <instanceof value="org.eclipse.core.resources.IFile"></instanceof>
                        <test property="org.eclipse.core.resources.name" value="pubspec.yaml"></test>
                     </and>
                     <and>
                        <instanceof value="org.eclipse.core.resources.IProject"></instanceof>
                        <test property="org.eclipse.core.resources.projectNature"
                              value="org.dartlang.tools.dartNature"></test>
                     </and>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.dartlang.tools.tools.PubUpgradeCommandHandler"
            commandId="org.dartlang.tools.pub.upgrade">
         <enabledWhen>
            <with variable="selection">
               <count value="1"></count>
               <iterate ifEmpty="false" operator="or">
                  <or>
                     <and>
                        <instanceof value="org.eclipse.core.resources.IFile"></instanceof>
                        <test property="org.eclipse.core.resources.name" value="pubspec.yaml"></test>
                     </and>
                     <and>
                        <instanceof value="org.eclipse.core.resources.IProject"></instanceof>
                        <test property="org.eclipse.core.resources.projectNature"
                              value="org.dartlang.tools.dartNature"></test>
                     </and>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu label="Pub">
            <visibleWhen>
               <with variable="selection">
                  <iterate ifEmpty="false" operator="and">
                     <test property="org.eclipse.core.resources.projectNature"
                           value="org.dartlang.tools.dartNature"></test>
                  </iterate>
               </with>
            </visibleWhen>
            <command commandId="org.dartlang.tools.pub.get"></command>
            <command commandId="org.dartlang.tools.pub.upgrade"></command>
         </menu>
         <!-- menu label="Dart">
            <command commandId="org.dartlang.tools.pub.upgrade"></command>
         </menu -->
      </menuContribution>
   </extension>

</plugin>
